ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 15px;
    border-radius: 50%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    background-color: azure;
}
.stats {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 0px 200px;
}
.stats li{
    display: inline-flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    padding: 20px 20px;

}

