ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
};
img {
    display: block;
    max-width: 100%;
    height: auto;
};

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 200px; */
    color: black
};
.stats{
    /* list-style: none; */
    display: flex;
    flex-direction: column;
};

